################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InOneWeekend/v16/Browse.VC.opendb
